/* ==========================================================================
   Default skin
   ========================================================================== */


/* Colors */
$primary-color: #000000 !default;
$link-color: #3366cc!default;
$masthead-link-color: #33cccc !default; // 상단링크 글자색

.page__title{
  color: $link-color;
}


// Intentionally left blank
