/* ==========================================================================
   Default skin
   ========================================================================== */


/* Colors */
$primary-color: #000000 !default;
$link-color:#1f7a7a !default; // 메인페이지 타이틀 글자색 #3366cc
$masthead-link-color: #33cccc !default; // 상단링크 글자색

.page__title{
  color: $link-color;
}


// Intentionally left blank
